body {
    line-height: 30px;
}
.wrapper {
    width: 800px;
    margin: 0 auto;
}
.controls {
    margin-bottom: 20px;
}

.editable[contentEditable] {
    border: 1px solid rgb(168, 167, 167);
}

.editable {
    padding: 0 20px;
    min-width: 200px;
    border-radius: 3px;
    margin: 10px 5px;
    border: 1px solid rgb(231, 228, 228);
}

button {
    padding: 10px;
    background: #e6c5c5;
    border: 1px solid #CCC;
    border-radius: 5px;
}
button.disable {
    background: #dbedda;
}